<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Album</title>
        <link rel="stylesheet" href="public/gui.css"> 
    </head>
    <body>
        <header>
            <h1> Add </h1>
            <p>Add Album</p>
          </header>
        
          <main>
            <div>
                <form action="add" method="POST">
                    <p><input name="album"></p>
                    <p><textarea name="imgURL"></p>
                    <p><input name="year"></textarea></p>
                    <input type="submit" value="Add Album">
                </form>
            </div>
          </main>
    </body>
    </html>