<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyTV</title>
    <!-- local css file in public directory -->
    <link rel="stylesheet" href="gui.css"> 
</head>
<body>
    <header>
        <h1> <%= title %> </h1>
        <p>Web app is built using node, express and mysql to show my Vinyl collection.</p>
      </header>
    
      <main>
        <p>This some text show the markup and content.</p>
      </main>
    
</body>
</html>