<!DOCTYPE html>
<html>
<head>
    <title>My Telly dashboard</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
 <header>
    <a href="\logout">logout</a>
 </header>
    <main>
        <h2>My Profile</h2>
        <div>
            <div>
                <blockquote>
                  <p>Create a TV show to My Telly</p>
                  <a href="/myalbums">My albums</a>
                </blockquote>
            </div>
            <blockquote>
              <p>Create a TV show to My Telly</p>
              <a href="/addalbum">ADD album</a>
            </blockquote>
        </div>
        <div>
            <blockquote>
              <p>Edit a show</p>
              <a href="/editalbum">EDIT album</a>
            </blockquote>
        </div>
        <div>
            <blockquote>
              <p>Delete a show</p>
              <a href="/deletealbum">DELETE show</a>
            </blockquote>
        </div>
    </main>
</body>
</html>